body {
    background-image: url(back1.jpg);
}


.top_links {
    text-align: right;
}

.top_links>p {
    margin: 10px;
    font-size: 20px;
    display: inline;
    text-decoration: none; 
}

#images{
    margin: 1%;
    color:red;
}

#advanced{
    margin: 1%;
    color: red;
    display: inline;
    text-decoration: none;
    font-size: 20px;
}

#advanced:hover {
    text-decoration: underline;
}

input {
    border: 2px solid blue;
    border-radius: 30px;
    margin: 5px;
    outline: none;
    background-color: white;
}

input[type=text]{
    width: 400px;
    padding: 10px;
    padding-left: 25px;
}

input[type=submit]{
    width: 150px;
    padding: 10px;
}

#search {
    display: block; 
    margin: 0 auto;
}

#GoogleSearch, #lucky {
    margin: -3px 5px;
}

.two_elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#GoogleImages{
    display: block;
    margin: 0 auto;
}

h1{
    color:blue;
    text-align: center;
    margin-top: 10%;
}

.advanced{
    display: block;
    margin: -5px auto;
}

#AdvancedSearch{
    display: block;
    margin: 0px auto;
    padding: 15px;
    width: 150px;
    background-color: rgba(76, 76, 233, 0.726);
    color: white;
    border: 1px solid rgba(76, 76, 233, 0.726);
}

#AdvancedSearch:hover{
    background-color: blue;
}

img {
    display: block; 
    margin: 150px auto 10px;
    width: 200px;
}
